<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
		
		body {
			background-color: #f3f8fa;
			font-family: 'Inter', 'sans-serif';
			color: #103143;
			height: 100vh;
		}
		
		.wall-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.submit-btn {
			background-color: #bbefeb;
			border: 0;
			padding: .85rem 1.75rem .85rem 1.75rem;
			border-radius: 30px;
			margin-bottom: 3rem;
		}
		
				.post-box {
			display: flex;
			flex-direction: column;
			padding: 3.5rem 5rem 3.5rem 5rem;;
			background-color: white;
			border-radius: 20px; 
			border: solid;
			border-width: 1px;
			border-color: #efefef;	
			filter: drop-shadow(0px 1px 4px #dfdfdf);	
			margin-bottom: 3rem;
		}
		
		.post-header {
			font-weight: 500;
			font-size: 1.75rem;
		}
		
		.post-content {
			margin: 1rem 0 1rem 0;
		}
		
		.post-time {
			color: #aaaaaa;
			margin-bottom: 3rem;
		}
		
		.section-header {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 1rem;
			margin-top: 3rem;
		}
	</style>
</head>
<body>
 <script>
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos2 = localStorage.getItem("scrollpos2");
    if (scrollpos2) window.scrollTo(0, scrollpos2);
  });

  window.onscroll = function (e) {
    localStorage.setItem("scrollpos2", window.scrollY);
  };
    </script>
	<!-- This is a simple page template that displays two values, with a simple 
		   JavaScript conditional. You'll need something slightly fancier for HW4,
		   probably with a loop for generating the rows of the table. -->
		   
<div class="wall-wrap">
  <h1 style="margin-bottom: 5rem;"><%= username %>'s wall</h1>
   
     <form action="/post?username=<%= username%>" class="container-fluid" method="post">
<div class="form-group">
    <label>Post on <%= username %>'s wall:</label>
    <input type="text" class="form-control" name="post">
    <input id="DateTime" name="DateTime" type="hidden" value="">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
		
		<script type="text/javascript">
		  $(document).ready(function(){
		    var today = moment().format('YYYY-MM-DD HH:mm:ss');
		    $('#DateTime').val(today);
		   // alert($('#DateTime').val());
		  });
		</script>
		
		<input id="postID" name="postID" type="hidden" value="">

		<script type="text/javascript">
		  $(document).ready(function(){
		    var id = "id" + Date.now().toString(36) + Math.random().toString(36).substr(2);;
		    $('#postID').val(id);
		  });
		</script>
  </div> 
<button type="submit" class="submit-btn">Post</button>

  </form> <br><br>

  <%if (posts != null) { %>
  <%if (posts.length != 0) { %>
  	<% for (const foo of posts) { %>
  	<div class="post-box">
<div class="post-header">
		Posted by <%= foo.poster.S %> to <%= foo.postee.S %>'s wall <br> 
</div>
<div class="post-content">
		<%= foo.content.S %> <br>
		</div>
		<div class="post-time">
		Posted at <%= foo.timestamp.S %>
		</div>
<% if (foo.comments[0] != null) { %>
	<% if (foo.comments[0].length > 0) {%>
		<% for (const com of foo.comments[0]) { %>
			<%= com.poster.S %> commented <%= com.comment.S %> at <%= com.timestamp.S %> <br>
		<% } %> <br>
	<% } %>
<% } %> 

<form action="/comment?wall=<%= username%>" class="container-fluid" method="post">
  
  <div class="form-group">
    <label>Write a comment:</label>
    <input type="text" class="form-control" name="comment">
    <input id="<%= foo.postID.S %>" name="postID" type="hidden" value="">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
		
		<script type="text/javascript">
		  $(document).ready(function(){
		    $('#<%= foo.postID.S %>').val("<%= foo.postID.S %>");
		  });
		</script>
    <input id="DateTime_<%= foo.postID.S %>" name="DateTime" type="hidden" value="">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
		
		<script type="text/javascript">
		  $(document).ready(function(){
		    var today = moment().format('YYYY-MM-DD HH:mm:ss');
		    $('#DateTime_<%= foo.postID.S %>').val(today);
		  });
		</script>
		
  </div>
  

	<button type="submit" class="submit-btn">Comment</button>

  </form>
  </div>
  
	<% } %>
  <% } %>
  <% } %>
  
  <a id="homepage" href="/homepage">Back to homepage</a>
  </div>
  <script>
  window.homepage_button = document.querySelector('#homepage')
homepage_button.addEventListener('click', ()=>{
    localStorage.setItem("scrollpos2", 0);      
})
  </script>
</body>
</html>
